.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: var(--background);
}

.mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
  }
  
  .mainContainer {
    grid-template-columns: 1fr;
  }
}